body{
    
    margin: 0;
    font-family: monospace;
    background-image: url(background.jpg);
    background-size: 100%;

}

.header{

    background-color: rgb(213, 233, 226);
    height: 60px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;

}

.sign{

    display: flex;
    flex-direction: row;
    width: 350px;
    margin: auto 0 auto 20px;

}

.sign img{

    height: 40px;
    margin-right: 10px;

}

.sign a{

    color: black;
    text-decoration: none;
    margin: auto 5px;
    font-size: 25px;
    text-transform: uppercase;

}

.menu{

    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: azure;
    margin: 0;

}

.menu div{

    margin: auto;

}

.menu a{

    font-size: 20px;
    text-decoration: none;
    color: black;

}

.moreBtn{

    height: 25px;
    position: fixed;
    top: 20px;
    left: 90%;
    z-index: 1;

}

.yMenu{

    flex-direction: column;
    height: auto;
    position: fixed;
    top: 60px;
    text-align: center;
    z-index: 1;

}

.yMenu div{

    margin: 20px;

}

.aboutContent{

    display: flex;
    flex-direction: row;
    padding: 0;

}

.aboutContent img{

    height: 600px;
    width: 400px;
    margin-top: 0px;
    margin-left: 100px;

}

.aboutContent p{

    text-align: left;
    font-size: 25px;
    margin: auto 80px;

}

.skillContent{

    display: flex;
    flex-direction: row;
    margin-top: 100px;

}

.skill {

    margin: 0px auto;
    background-color: rgb(150, 143, 143, 0.5);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-left: 0;
    padding: 20px 10px;

}

.skill:hover{

    opacity: 0.8;

}

.skills img{

    height: 80px;

}

.stars img{

    height: 30px;
    margin: 50px 0px;
    
}

.educationContent{

    display: flex;
    flex-direction: row;
    margin-top: 100px;

}

.eduItems{

    margin: auto;
    font-size: 30px;
    height: 400px;
    background-color: rgba(184, 174, 174, 0.1);
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
    padding: 30px 10px;

}

.eduItems img{

    height: 200px;

}

.pro{
    display: flex;
    flex-direction: row;
    color: aliceblue;
    text-align: center;
    font-size: 30px;

}

.pro img{
    height: 400px;
    widows: auto;
    margin: 60px 200px;
}

.pro p{
    margin: 60px 200px;

}

.right{
    height: 80px;
    position: absolute;
    opacity: 0.7;
    top: 480px;
    right: 0;
}

.left{
    height: 80px;
    position: absolute;
    opacity: 0.7;
    top: 480px;
    left: 0;
}

.left:hover, .right:hover{
    opacity: 1;
}

.hobbyitems {

    display: flex;
    flex-direction: row;
    
}

.hobby{

    margin: 100px auto;
    display: flex;
    flex-direction: column;
    font-size: 20px;

}

.hobby1, .hobby2{

    border-style: solid;
    border-width: 1px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;

}

.hobbies img{

    height: 180px;
    margin: 50px 60px;

}

.contact{
    text-align: center;
    display: block;
    color: white;
    opacity: 0.9;
    margin : 8% auto 100px auto;
}

.icons{
    display: flex;
    margin: auto;
    width: 300px;
    background-color: white;
    padding: 10px;
    opacity: 0.9
}

.contact img{
    height: 60px;
    width: 60px;
    opacity: 0.7;
}

.contact a{
    margin: auto;
}

.contact h1{
    text-transform: uppercase;
}

.contact a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.contact p{
    font-size: 30px;
    margin: 10px;
}

.contact img:hover{
    opacity: 1;
}

.resume{
    outline-style: auto;
    opacity: 0.8;
}

.resume:hover{
    opacity: 1;
    font-size: 30px;
    outline-style: none;
}


/********************************************************************************/

.mainDiv{

    background-color: rgb(136, 132, 132, 0.3);
    color: aliceblue;
    height: auto;
    padding-bottom: 20px;
    width: 100%;
    position: absolute;
    padding-top: 100px;
    text-align: center;

}

.mainDiv:hover{

    background-color: rgb(136, 132, 132, 0.4);

}

.about{

    top: 100px;
    width: 90%;
    margin-left: 5%;

}

.skills{

    top: 1200px;
    height: 700px;
    width: 90%;
    margin-left: 5%;

}

.education{

    top: 2300px;
    height: 700px;
    width: 90%;
    margin-left: 5%;

}

.project{

    top: 3400px;
    height: 700px;

}

.hobbies{

    top: 4500px;
    width: 90%;
    margin-left: 5%;

}

.contact{

    top: 5600px;
    height: 500px;
    width: 60%;
    margin-left: 20%;

}

.hidden{

    display: none;

}

html{
    scroll-behavior: smooth;
}

h1{

    font-size: 50px;

}

h2{

    font-size: 35px;

}

@media screen and (max-width: 500px){

    
    .header{
    
        height: 50px;
    
    }
    
    .sign{
    
        width: 250px;
    
    }
    
    .sign img{
    
        height: 30px;
    
    }
    
    .sign a{
    
        font-size: 20px;
    
    }
            
    .menu a{
    
        font-size: 15px;
        
    }
    
    .yMenu{
    
        top: 50px;
    
    }
    
    .moreBtn{

        height: 20px;

    }

    .aboutContent{
    
        flex-direction: column;
    
    }
    
    .aboutContent img{
    
        margin: auto;
        height: 300px;
        width: 200px;
    
    }
    
    .aboutContent p{
    
        text-align: center;
        font-size: 15px;
        margin: 20px auto;
    
    }
    
    .skillContent{
    
        flex-direction: column;
    
    }
    
    .skill {
    
        display: flex;
        flex-direction: row;
        height: 60px;
        margin-top: 10px;

    }
    
    h2{

        display: none;

    }

    .skills img{
    
        height: 60px;
        margin-right: 25px;
    
    }

    .stars img{
    
        height: 30px;
        margin: 10px auto;
        
    }
    
    .educationContent{
    
        flex-direction: column;
        margin-top: 10px;
    
    }
    
    .eduItems{
    
        font-size: 15px;
        height: 200px;
        border-style: none;
    
    }
    
    .eduItems img{
    
        height: 150px;
    
    }
    
    .pro{

        flex-direction: column;
        font-size: 15px;
    
    }
    
    .pro img{

        height: 200px;
        width: auto;
        margin: 30px auto;
    
    }
    
    .pro p{

        margin: 30px auto;
    
    }
    
    .hobbyitems {
    
        flex-direction: column;
        
    }
    
    .hobby{
    
        margin: auto;
        font-size: 15px;
    
    }
    
    .hobby1, .hobby2{
    
        border-style: solid;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: solid;
    
    }
    
    .hobbies img{
    
        height: 120px;
        margin: 30px auto;
    
    }
    
    .contact{

        margin : 8% auto 80px auto;

    }
    
    .icons{

        width: 200px;

    }
    
    .contact img{
        height: 40px;
        width: 40px;
    }
    
    .contact a{

        font-size: 15px;

    }
    
    .contact p{

        font-size: 15px;
    
    }

    
    .resume:hover{

        font-size: 20px;
    
    }
    
    
    /********************************************************************************/
    
    .about{
    
        top: 100px;
        width: 90%;
        margin-left: 5%;
    
    }
    
    .skills{
    
        top: 900px;
        height: 800px;
        width: 90%;
        margin-left: 5%;
    
    }
    
    .education{
    
        top: 1900px;
        height: 700px;
        width: 90%;
        margin-left: 5%;
    
    }
    
    .project{
    
        top: 2800px;
        height: 700px;
    
    }
    
    .hobbies{
    
        top: 3700px;
        width: 90%;
        margin-left: 5%;
    
    }
    
    .contact{
    
        top: 4600px;
        height: 300px;
        width: 60%;
        margin-left: 20%;
    
    }
    
    .hidden{
    
        display: none;
    
    }
    
    html{
        scroll-behavior: smooth;
    }
    
    h1{
    
        font-size: 30px;
    
    }
    
    h2{
    
        font-size: 35px;
    
    }
    
}
